<section appAdvanceParallax id="section1" class="overlay" style="min-height: 100vh;">
  <div appAdvanceParallaxChild speed=0.6 style="top:50%;left:50%;">
    <h1>Hello, I'm Shanil</h1>
  </div>
  <div appAdvanceParallaxChild speed=0.3 style="top:30%;left:30%;">
    <h2>Innovative</h2>
  </div>
  <div appAdvanceParallaxChild speed=0.3 style="top:70%;left:70%;">
    <h2>Divergent</h2>
  </div>
  <div appAdvanceParallaxChild speed=0.1 style="top:35%;left:70%;">
    <h3>Lateral Thinker</h3>
  </div>
  <div appAdvanceParallaxChild speed=0.1 style="top:75%;left:30%;">
    <h3>Software Engineer + Programmer</h3>
  </div>
</section>
